<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tbdev.coordinatorlayout">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.mNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Samples.ToobarAndFab"
            android:label="@string/title_activity_toobar_and_fab"
            android:theme="@style/AppTheme.mNoActionBar" />
        <activity
            android:name=".Samples.CollapsingToolbarFab"
            android:label="@string/title_activity_collapsing_toobar_fab"
            android:theme="@style/AppTheme.mTransparentStatusBar" />
        <activity
            android:name=".Samples.ToolbarTabs"
            android:label="@string/title_activity_toolbar_tabs"
            android:theme="@style/AppTheme.mNoActionBar" />
        <activity
            android:name=".Samples.CollapsingToolbarTabs"
            android:label="@string/title_activity_collapsing_toobar_tabs"
            android:theme="@style/AppTheme.mTransparentStatusBar"></activity>
    </application>

</manifest>